{% load static %}


<div class="sidebar-post">
    <div class="sidebar_title">
        <h4>ما را دنبال کنید</h4>
    </div>

    <div class="single_social">
        <ul>

            <li>
                <div class="social_item b_facebook">
                    <a href="{{ site_setting.facebook_link }}" target="_blank">
                        <i class="fa fa-facebook"></i>
                        <span class="item-list">فیسبوک</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="social_item b_twitter">
                    <a href="{{ site_setting.twitter_link }}" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <span class="item-list">توییتر</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="social_item b_youtube">
                    <a href="{{ site_setting.youtube_link }}" target="_blank">
                        <i class="fa fa-youtube"></i>
                        <span class="item-list">یوتیوب</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="social_item b_pinterest">
                    <a href="{{ site_setting.pinterest_link }}" target="_blank">
                        <i class="fa fa-pinterest"></i>
                        <span class="item-list">پینترست</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="social_item b_tumblr">
                    <a href="{{ site_setting.tumblr_link }}" target="_blank">
                        <i class="fa fa-tumblr"></i>
                        <span class="item-list">تامبلر</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="social_item b_rss">
                    <a href="{{ site_setting.rss_link }}" target="_blank">
                        <i class="fa fa-rss"></i>
                        <span class="item-list">RSS</span>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</div>